@font-face {
  font-family: "Montserrat";
  src: url("../webfonts/Montserrat-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("../webfonts/Roboto-Light.ttf");
}
@font-face {
  font-family: "Lato";
  src: url("../webfonts/Lato-Regular.ttf");
}

body{font-family: 'Lato', sans-serif;}
h3{font-family: 'Montserrat', sans-serif;}
h4{font-family: 'Roboto', sans-serif;}
textarea {border: none; outline: none;resize: none;width: 100%;height: 100%;color:#666;font-style: normal;font-family:"Lucida Console", Monaco, monospace;}
code{height: 150px;}
.card{box-shadow: 0 4px 8px 0 rgba(185, 134, 134, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);height: 350px;}
.bd-mode-toggle {z-index: 1500;}